.inputAmountOfMoney {
    line-height: 2.3;
    padding-left: 5px;
    border-radius: .5em;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: repeat;
    background-position: 0 0;
    margin-bottom: 50px;
    @include allImputs
}

.inputAmountOfMoney::placeholder {
    color: rgba(68, 68, 68, 0.521);
    padding-left: 5px;
}

.inputAmountOfMoney:hover {
    border-color: #888;
  }

.inputAmountOfMoney:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 

  background-color: blue;
  // -webkit-appearance: none; 
  // margin: 0; 
}

